<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<form method="post" action="/changePassword">
    <input type="password" placeholder="Старый пароль" name="old">
    <span></span>
    <br>
    <input type="password" placeholder="Новый пароль" name="new">
    <span></span>
    <br>
    <input type="password" placeholder="Подтверждение" name="confirm">
    <span></span>
    <br>
    <input type="submit" value="Изменить">
</form>
</body>
</html>