<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<form method="post" action="/changeClientData">
    <input type="text" name="name" placeholder="ФИО" th:value="${nameValue}">
    <span th:text="${nameError}"></span>
    <br>
    <input type="text" name="phone" placeholder="Номер телефона" th:value="${phoneValue}">
    <span th:text="${phoneError}"></span>
    <br>
    <input type="number" name="passportId" placeholder="Номер паспорта" th:value="${passportIdValue}">
    <span th:text="${passportIdError}"></span>
    <br>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>