<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<form method="post" action="/changePassword">
    <input type="password" placeholder="Старый пароль" name="oldPassword" th:value="${oldValue}">
    <span th:text="${oldError}"></span>
    <br>
    <input type="password" placeholder="Новый пароль" name="newPassword" th:value="${newValue}">
    <span th:text="${newError}"></span>
    <br>
    <input type="password" placeholder="Подтверждение" name="confirm" th:value="${confirmValue}">
    <span th:text="${confirmError}"></span>
    <br>
    <input type="submit" value="Изменить">
</form>
</body>
</html>