<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<form method="post" action="/changeClientData">
    <input type="text" name="name" placeholder="ФИО">
    <br>
    <input type="text" name="name" placeholder="Номер телефона">
    <br>
    <input type="email" name="name" placeholder="Почта">
    <br>
    <input type="number" name="name" placeholder="Номер паспорта">
    <br>
    <input type="submit" value="Сохранить">
</form>
</body>
</html>