<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<form method="post" action="/createNewCredit">
    <input th:if="${isUpdate}" type="hidden" th:value="${id.get()}" name="id">
    <input type="text" placeholder="Название" name="name" th:value="${nameValue}">
    <span th:text="${nameError}"></span>
    <br>
    <input type="number" name="limit" placeholder="Лимит" th:value="${limitValue}">
    <span th:text="${limitError}"></span>
    <br>
    <input type="number" name="interestRate" placeholder="Процентная ставка" th:value="${interestRateValue}" step="0.1">
    <span th:text="${interestRateError}"></span>
    <br>
    <input type="submit" value="Подтвердить">
</form>
</body>
</html>