<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<form method="post" action="/credits">
    <input type="text" placeholder="Поиск..." name="name">
    <input type="submit" value="Найти">

    <br>

    <input type="submit" value="Создать">

    <div>
        <p></p>
        <span></span>
        <span></span>

        <input type="submit" value="Удалить">
        <input type="submit" value="Изменить">
    </div>
</form>
</body>
</html>