<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<form method="post" action="/credits">
    <a href="/">На главную</a><br>
    <input type="text" placeholder="Поиск..." name="name">
    <input type="submit" value="Найти" name="search">

    <br>

    <a href="/createNewCredit">Создать</a><br>

    <div th:each="v : ${creditList}">
        <p th:text="${v.getName()}"></p>
        <span th:text="${'Лимит: ' + v.getLimit() + 'руб.'}"></span>
        <span th:text="${'Процентная ставка: ' + v.getInterest_rate() + '%'}"></span>

        <input type="submit" value="Удалить" th:name="${'delete='+v.getId().toString()}">
        <input type="submit" value="Изменить" th:name="${'update='+v.getId().toString()}">
    </div>
</form>
</body>
</html>