<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<a href="logout">Выйти</a>

<div th:if="${user.getRole().equals('user')}">
    <a href="/profile">Мой профиль</a>
    <form method="post" action="/">
        <input type="text" placeholder="Поиск..." name="creditName">
        <input type="submit" name="search" value="Найти">

        <div th:each="v : ${creditList}">
            <p th:text="${v.getName()}"></p>
            <span th:text="${'Лимит: ' + v.getLimit() + 'руб.; '}"></span>
            <span th:text="${'Процентная ставка: ' + v.getInterest_rate() + '%'}"></span>
            <input type="submit" th:name="${'id=' + v.getId().toString()}" value="Выбрать">
        </div>

    </form>
</div>

<div th:if="${user.getRole().equals('admin')}">
    <a href="/clients">Пользователи</a>
    <a href="/loanOffers">Корзина</a>
    <a href="/loanOffers">Подтвержденные</a>
    <a href="/credits">Кредиты</a>
    <form method="post" action="/">

    </form>
</div>

</body>
</html>