<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<a href="logout">Выйти</a>

<div th:if="${user.getRole().equals('user')}">
    <a href="/profile">Мой профиль</a>
    <form method="post" action="/">
        <input type="text" placeholder="Поиск..." name="creditName">
        <input type="submit" name="search" value="Найти">

        <div th:each="v : ${creditList}">
            <p th:text="${v.getName()}"></p>
            <span th:text="${'Лимит: ' + v.getLimit() + 'руб.; '}"></span>
            <span th:text="${'Процентная ставка: ' + v.getInterest_rate() + '%'}"></span>
            <input type="submit" th:name="${'id=' + v.getId().toString()}" value="Выбрать">
        </div>

    </form>
</div>

<div th:if="${user.getRole().equals('admin')}">
    <a href="/clients">Пользователи</a>
    <a href="/loanOffers">Корзина</a>
    <a href="/loanOffers">Подтвержденные</a>
    <a href="/credits">Кредиты</a>
    <form method="post" action="/">
        <table>
            <tr>
                <th>Название</th>
                <th>Пользователь</th>
                <th>Сумма</th>
                <th>Дата выдачи</th>
                <th>Процентная ставка</th>
                <th>График платежей</th>
                <th></th>
            </tr>
            <tr th:each="v : ${notConfirmedLoanOffers}">
                <td th:text="${v.name()}"></td>
                <td><input type="submit" th:name="${'client=' + v.clientId()}" th:value="${v.clientName()}"></td>
                <td th:text="${v.creditAmount()}"></td>
                <td th:text="${v.issueDate()}"></td>
                <td th:text="${v.interestRate()}"></td>
                <td><input type="submit" th:name="${v.clientId()+'='+v.creditId()}" value="Посмотреть"></td>
                <td>
                    <input type="submit" value="Подтвердить" th:name="${'confirm=' + v.creditId() + '=' + v.clientId()}">
                    <br>
                    <input type="submit" value="Отменить" th:name="${'cancel=' + v.creditId() + '=' + v.clientId()}">
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>