<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>

<div th:if="${user.getRole().equals('user')}">
    <a href="/profile">Мой профиль</a>
    <form method="post" action="/">
        <input type="text" placeholder="Поиск..." name="creditName">
        <input type="submit" name="search">

        <div>
            <p></p>
            <span></span>
            <span></span>
        </div>

    </form>
</div>

<div th:if="${user.getRole().equals('admin')}">
    <a href="/clients">Пользователи</a>
    <a href="/loanOffers">Корзина</a>
    <a href="/loanOffers">Подтвержденные</a>
    <a href="/credits">Кредиты</a>
    <form method="post" action="/">

    </form>
</div>

</body>
</html>