<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<form method="post" action="/myLoanOffers">
    <table>
        <tr>
            <th>Название</th>
            <th>График платежей</th>
            <th>Пользовательское подтверждение</th>
            <th>Банковское подтверждение</th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Посмотреть"></td>
            <td></td>
            <td></td>
            <td>
                <input type="submit" value="Подтвердить">
                <br>
                <input type="submit" value="Отменить">
            </td>
        </tr>
    </table>
</form>
</body>
</html>