<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<form method="post" action="/loanProcessing">
    <select th:if="${showCreditNameSelect}" name="creditName">
        <option></option>
    </select>
    <input th:unless="${showCreditNameSelect}" type="hidden" name="creditId" th:value="${creditId}">
    <input type="number" name="creditAmount" placeholder="Сумма кредита" th:value="${creditAmountValue}">
    <span th:text="${creditAmountError}"></span>
    <br>
    <input type="date" name="creditDate" placeholder="Дата выдачи" th:value="${creditDateValue}">
    <span th:text="${creditDateError}"></span>
    <br>
    <input type="number" name="time" placeholder="Срок (кол-во лет)" th:value="${timeValue}">
    <span th:text="${timeError}"></span>
    <br>
    <input type="number" name="interestRate" placeholder="Процентная ставка" th:value="${interestRateValue}">
    <span th:text="${interestRateError}"></span>
    <br>
    <select name="creditType">
        <option>Аннуитетный</option>
        <option>Дифференцированный</option>
    </select>
    <br>
    <input type="submit" name="paymentsGraph" value="График платежей">
    <br>
    <input type="submit" name="registration" value="Оформить">
</form>
</body>
</html>