<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<form method="post" action="/loanOffers">
    <a href="/">На главную</a><br>
    <table>
        <tr>
            <th>Название</th>
            <th>График платежей</th>
            <th>Пользовательское подтверждение</th>
            <th>Банковское подтверждение</th>
            <th></th>
        </tr>
        <tr th:each="v : ${myLoanOffers}">
            <td th:text="${v.name()}"></td>
            <td><input type="submit" value="Посмотреть" th:name="${'pg=' + v.creditId()}"></td>
            <td th:if="${v.clientConfirm() == null || !v.clientConfirm()}">Не подтвержден</td>
            <td th:unless="${v.clientConfirm() == null || !v.clientConfirm()}">Подтвержден</td>
            <td th:if="${v.adminConfirm() == null || !v.adminConfirm()}">Подтвержден</td>
            <td th:unless="${v.adminConfirm() == null || !v.adminConfirm()}">Подтвержден</td>
            <td>
                <input th:if="${v.clientConfirm() == null || !v.clientConfirm()}" type="submit" value="Подтвердить" th:name="${'confirm=' + v.creditId()}">
                <br>
                <input th:if="${v.clientConfirm() == null || v.clientConfirm()}" type="submit" value="Отменить" th:name="${'cancel=' + v.creditId()}">
            </td>
        </tr>
    </table>
</form>
</body>
</html>