<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<form method="post" action="/myCredits">
    <table>
        <tr>
            <th>Название</th>
            <th>Сумма</th>
            <th>Дата выдачи</th>
            <th>Процентная ставка</th>
            <th>График платежей</th>
        </tr>
        <tr th:each="v : ${credits}">
            <td th:text="${v.name()}"></td>
            <td th:text="${v.creditAmount()}"></td>
            <td th:text="${v.dateOfIssue()}"></td>
            <td th:text="${v.interestRate()}"></td>
            <td><input type="submit" value="Посмотреть" th:name="${'id=' + v.creditId() + '=' + clientId}"></td>
        </tr>
    </table>
</form>
</body>
</html>