<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<table>
    <tr>
        <th>Дата</th>
        <th>Платеж</th>
        <th>Проценты</th>
        <th>Тело кредита</th>
        <th>Остаток</th>
    </tr>
    <tr th:each="p : ${payments}">
        <td th:text="${dateFormat.format(p.getPayment_date().getTime())}"></td>
        <td th:text="${p.getPayment_amount}"></td>
        <td th:text="${p.getPercent()}"></td>
        <td th:text="${p.getCredit_body()}"></td>
        <td th:text="${p.getRemainder()}"></td>
    </tr>
</table>
</body>
</html>