<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
<p th:text="${client.getName()}"></p>
<p th:text="${'Телефон: ' + client.getPhone()}"></p>
<p th:text="${'Почта: ' + user.getMail()}"></p>
<p th:text="${'Номер паспорта: ' + client.getPassport_id()}"></p>
<a href="/">На главную</a><br>
<a href="/myCredits" th:unless="${isAdmin}">Мои кредиты</a><br>
<a th:href="${'/myCredits?clientIdOptional='+user.getId()}" th:if="${isAdmin}">Кредиты пользователя</a><br>
<a href="/changePassword" th:unless="${isAdmin}">Сменить пароль</a><br>
<a href="/changeClientData" th:unless="${isAdmin}">Сменить клиентские даннные</a><br>
<a href="/loanOffers" th:unless="${isAdmin}">Мои кредитные предложения</a><br>
<a th:href="${'/loanOffers?clientIdOptional='+user.getId()}" th:if="${isAdmin}">Кредитные предложения пользователя</a><br>
<a th:href="${'/loanProcessing?id='+user.getId()}" th:if="${isAdmin && !creditsIsEmpty}">Создать кредитное предложение</a>
</body>
</html>