<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank</title>
</head>
<body>
    <form method="post" action="/registration">
        <input type="text" name="username" placeholder="Имя пользователя">
        <br>
        <input type="email" name="mail" placeholder="Почта">
        <br>
        <input type="password" name="password" placeholder="Пароль">
        <br>
        <input type="password" name="confirm" placeholder="Подтверждение">
        <br>
        <input type="submit" value="Зарегистрировать">
    </form>
</body>
</html>